@use 'fonts' as *;
@use 'colors' as *;
@use '../util' as *;

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-mono;
  min-height: 100vh;
  background-color: $light-grayish-cyan;

  @include breakpoint(large) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
