@use '../globals' as *;
@use '../util' as *;

.attribution {
  font-size: rem(10);
  text-align: center;
  background-color: $white;
  padding: 1rem 0.4rem;

  @include breakpoint(large) {
    font-size: rem(11);
    background-color: transparent;
  }

  a {
    color: $blue;
    display: inline-block;
    &:hover{
      color: $very-dark-cyan;
    }
    svg {
      fill: $blue;
      object-fit: contain;
      height: rem(18);
      text-align: center;
      margin-bottom: rem(-5);

      &:hover {
        fill: $very-dark-cyan;
      }
    }
  }
}
