@use '../globals' as *;
@use '../util' as *;

.form {
  padding: 0.5rem;
  margin-bottom: 2rem;

  @include breakpoint(large) {
    margin-bottom: 0;
  }
  label,
  legend {
    display: inline-block;
    color: $dark-grayish-cyan;
    font-weight: 700;
    margin: 0 0 0.4rem;
    font-size: rem(15);
  }

  input[type="text"] {
    box-sizing: border-box !important;
    text-align: right;
    width: 100%;
    padding: 0.4rem 0.8rem;
    color: $very-dark-cyan;
    font-size: rem(24);
    font-weight: 700;
    background-color: $light-grayish-cyan-2;
    border: 2px solid $light-grayish-cyan-2;
    border-radius: $input-radius;
    outline: none;

    &:focus,
    &:hover {
      border: 2px solid $strong-cyan;
    }
  }

  // Remove autocomplete styling
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 2px solid $strong-cyan;
    -webkit-text-fill-color: none;
    background-color: $light-grayish-cyan-2;
    -webkit-text-fill-color: $very-dark-cyan !important;
    transition: background-color 5000s ease-in-out 0s;
  }
}
