@use '../util' as *;

.header {
  text-align: center;
  margin: 2.5rem auto 2rem;

  h1 {
    margin: 0;
    padding: 0;
  }
  &__logo {
    object-fit: contain;
  }

  @include breakpoint(large) {
    padding-top: 3rem;
    margin: 0 auto 3rem;
  }
}
