@use '../util' as *;
@use '../globals' as *;

.input-group {
  margin: 0;

  .label-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .error-message {
    display: none;
    color: $red;
    font-size: 0.8rem;
    line-height: 1.5;
    margin-bottom: rem(3);
  }
  .input-wrap {
    display: block;
    position: relative;
  }

  &.error {
    .error-message {
      display: inline-block;
    }

    input[type="text"] {
      border: 2px solid $red;
    }
  }

  img {
    position: absolute;
    top: 50%;
    padding: 0rem 0.8rem;
    transform: translateY(-50%);
  }
}
