@use '../util' as *;
@use '../globals' as *;

.input-group {
  margin: 0;
  span {
    display: block;
    position: relative;
  }
  
  img {
    position: absolute;
    top: 50%;
    padding: 0rem 0.8rem;
    transform: translateY(-50%);
  }
}
